<%- include('../partials/boilerplate') %>
<body>
    <h1> Welcome <%= user.name %>!</h1> 
    <br>
    <label for="name"> Name: <%= user.name %> </label>
    <br><br>
    <label for="username"> Username: <%= user.username %> </label>
    <br><br>
    <form action="/users/<%=user.id %> ?_method=DELETE" method="POST">
        <input type="submit" value="Delete Profile?"/>
    </form> <br>
    <form action="/users/<%=user.id%>/edit">
        <input type="submit" value="Edit Profile?"/>
    </form>
    <br>
    	<form>
		<a href="/costumes/new">Show the world your creation!</a>
        </form>
</body>
</html>