<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome <%= user.name %>!</h1> 
    <br>
    <label for="name"> Name:</label>
    <input type="text" name="name" value=<%= user.name %>>
    <br> <br>
    <label for="username"> Username:</label>
    <input type="text" name="username" value=<%= user.username %>>
    <br> <br>
    <label for="password"> Password:</label>
    <input type="password" name="password" value=<%= user.password %>>
    <br><br>
    <form action="/users/<%=user.id %> ?_method=DELETE" method="POST">
        <input type="submit" value="Delete Profile?"/>
    </form> <br>
    <form action="/users/<%=user.id%>/edit">
        <input type="submit" value="Edit Profile?"/>
    </form>
    	<form>
		<a href="/costumes/new">Show the world your creation!</a>
        </form>
</body>
</html>